.nav-container{
    background: rgb(7, 7, 7);
}
nav{
    width: 100%;
    min-height: 10vh;
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-between;
    align-items: center;
    #kt{
        display: flex;
        margin-left: 10rem;
        flex:2;
    }
    ul{
        display: flex;
        justify-content: space-between;
        flex:2;
        list-style: none;
    }
    .logo{
        width:6rem;
        height: 6rem;
        flex:2;
        position: absolute;
        top:0.3rem;
        left:2rem;
        border-radius: 50%;    
    }
    .sub{
        display: flex;
        justify-content: space-around;
        padding:1rem 1rem;
    }
}

@media screen and (max-width:880px){
    nav{
        #kt{
            margin-left: 9.5rem;
        }
        .sub{
            padding:1rem 0.8rem;
        }
    }
}